
.ipynb_checkpoints/00_getting_started-checkpoint.ipynb
.ipynb_checkpoints/01_data_types_and_structures-checkpoint.ipynb
.ipynb_checkpoints/04_FinancialTimeSeries-checkpoint.ipynb
.ipynb_checkpoints/InClassExercises-checkpoint.ipynb
