.ipynb_checkpoints/00_getting_started-checkpoint.ipynb
.ipynb_checkpoints/01_data_types_and_structures-checkpoint.ipynb
.ipynb_checkpoints/04_FinancialTimeSeries-checkpoint.ipynb
.ipynb_checkpoints/InClassExercises-checkpoint.ipynb
.ipynb_checkpoints/02_NumericalAndComputationalFoundations-checkpoint.ipynb
.ipynb_checkpoints/05_ModelValidation-checkpoint.ipynb
.ipynb_checkpoints/06_StatisticalMethodsInDataScience-checkpoint.ipynb
exercises/.ipynb_checkpoints/05_Clustering-checkpoint.ipynb
exercises/.ipynb_checkpoints/05_Clustering_with_solution-checkpoint.ipynb
StatisticsWithPython/.ipynb_checkpoints/StatisticsWithPython-checkpoint.ipynb
StatisticsWithPython/Statistics_with_Python_1.mp4
StatisticsWithPython/Statistics_with_Python_2.mp4
StatisticsWithPython/Statistics_with_Python_3.mp4
